/* Основной текст #212121 */
/* Описание текст #757575 */
/* Акцент  #2196F3 */

:root {
  --primary-text-color: #212121;
  --descr-text-color: #757575;
  --accent-color: #2196f3;
  --element-color: #ffffff;
  --bgd-color: #2f303a;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --button-item-color-bgd: #f5f4fa;
  --logo-color: #000000;
  --bgd-button-hero-active: #188ce8;
}

body {
  background-color: var(--element-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Logo */
.logo {
  color: var(--logo-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-color {
  color: var(--accent-color);
}

/* Site nav */
.site-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Contacts link */
.contacts-link {
  color: var(--descr-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--bgd-color);
}
.hero-title {
  color: var(--element-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Sections */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-team {
  background-color: var(--button-item-color-bgd);
}
.section-descr.text {
  color: var(--descr-text-color);

  font-size: 14px;
  line-height: 1.71;
}

.section-descr.prof {
  color: var(--descr-text-color);

  font-size: 16px;
  line-height: 1.19;
}

.title-index {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.list-team {
  background-color: var(--element-color);
}

.lists-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.lists-subject {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* Button hero */
.button-hero {
  background-color: var(--accent-color);
  color: var(--element-color);
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.pointer {
  cursor: pointer;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--bgd-button-hero-active);
}

/* Footer */
.footer {
  background-color: var(--bgd-color);
}

.logo-footer {
  color: var(--element-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--element-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-address:hover,
.footer-address:focus {
  color: var(--accent-color);
}

.footer-contacts {
  color: var(--contact-footer-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* css portfolio */
.button-item {
  background-color: var(--button-item-color-bgd);
  font-family: inherit;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-item:hover,
.button-item:focus {
  background-color: var(--accent-color);
  color: var(--element-color);
}

.title-work {
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.descr-work {
  color: var(--descr-text-color);

  font-size: 16px;
  line-height: 1.88;
}
